test_duration: 300
user_prefix: 'longevity-scylla-operator-3h-multitenant'
n_db_nodes: 4
scylla_version: "5.0.2"
k8s_tenants_num: 2

# Stress options
prepare_write_cmd:  "fake__prepare_write_cmd__all_tenants__single_str"
prepare_verify_cmd: [
    "fake__prepare_verify_cmd__all_tenants__part1",
    "fake__prepare_verify_cmd__all_tenants__part2",
]
stress_cmd: [
    "fake__stress_cmd__all_tenants__part1",
    "fake__stress_cmd__all_tenants__part2"
]
stress_read_cmd: "fake__stress_read_cmd__all_tenants__single_str"
stress_cmd_w: "fake__stress_cmd_w__all_tenants__single_str"
stress_cmd_r:
  tenant1:
    - "fake__stress_cmd_r__tenant1__part1"
    - "fake__stress_cmd_r__tenant1__part2"
  tenant2:
    - "fake__stress_cmd_r__tenant2__single_str_in_list"
stress_cmd_m:
  tenant1:
    - "fake__stress_cmd_m__tenant1__part1"
    - "fake__stress_cmd_m__tenant1__part2"
  tenant2: "fake__stress_cmd_m__tenant2__single_str"

# Non-stress options
nemesis_class_name:
  tenant1: "FakeNemesisClassNameForTenant1"
  tenant2: "FakeNemesisClassNameForTenant2"
nemesis_selector:
  tenant1:
    - "fake__nemesis_selector__tenant1__part1"
    - "fake__nemesis_selector__tenant1__part2"
  tenant2:
    - "fake__nemesis_selector__tenant2"
nemesis_interval:
  tenant1: 5
  tenant2: 7
nemesis_sequence_sleep_between_ops:
  tenant1: 3
  tenant2: 5
nemesis_during_prepare:
  tenant1: False
  tenant2: True
nemesis_seed:
  tenant1: 24
  tenant2: 135
nemesis_add_node_cnt:
  tenant1: 1
  tenant2: 2
space_node_threshold:
  tenant1: 1357
  tenant2: 2468
nemesis_filter_seeds:
  tenant1: False
  tenant2: True
nemesis_exclude_disabled:
  tenant1: True
  tenant2: False
nemesis_multiply_factor:
  tenant1: 5
  tenant2: 6
round_robin:
  tenant1: True
  tenant2: False
