# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: >
            (?x)^(
                tests/.*|
                data_dir/scylla.yaml
            )$
    -   id: check-added-large-files

-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: 'v1.4.3'  # Use the sha / tag you want to point at
    hooks:
    -   id: autopep8
        args: [-i, --max-line-length=500]
