# avocado-framework requirements
stevedore==1.11.0
PyYAML==3.11
pystache==0.5.4
libvirt-python==4.1.0
fabric==1.12.0
# avocado-framework
avocado-framework==36.4
boto3==1.6.5
botocore==1.9.5
awscli==1.14.52
aexpect==1.2.0
cassandra-driver==3.13
apache-libcloud==2.3.0
requests==2.20.0
elasticsearch==6.0.0
sortedcontainers==1.5.9
jinja2==2.10
prometheus_client==0.3.1
enum==0.4.7
