libvirt-python==4.9.0
# avocado-framework
avocado-framework==68.0
avocado-framework-plugin-varianter-yaml-to-mux==68.0
boto3==1.6.5
botocore==1.9.5
awscli==1.14.52
aexpect==1.5.1
cassandra-driver==3.13
apache-libcloud==2.3.0
requests==2.20.0
elasticsearch==6.0.0
sortedcontainers==1.5.9
jinja2==2.10
prometheus_client==0.3.1
