    <h1>Cloud resources</h1>
    <h2>Static IPs</h2>
    <table id="results_table">
        <tr>
            <th>Cloud</th>
            <th>Region</th>
            <th>Name</th>
            <th>Address</th>
            <th>Used by</th>
            <th>Owner</th>
        </tr>
        {% for static_ip in static_ips.all %}
        <tr>
            <td>{{ static_ip.cloud }}</td>
            <td>{{ static_ip.region }}</td>
            <td>{{ static_ip.name }}</td>
            <td>{{ static_ip.address }}</td>
            <td>{{ static_ip.used_by }}</td>
            <td>{{ static_ip.owner }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Instances</h2>
    {% for user, instances in report|dictsort %}
    <h3>{{ user }}</h3>
    <table id="results_table">
        <tr>
            <th>Cloud</th>
            <th>Project</th>
            <th>Region-AZ</th>
            <th>Name</th>
            <th>ID</th>
            <th>State</th>
            <th>Lifecycle</th>
            <th>Instance type</th>
            <th>Owner</th>
            <th>Launch time</th>
            <th>Keep</th>
            <th>Estimated total cost</th>
        </tr>
        {% for instance in instances %}
        <tr>
            <td>{{ instance.cloud }}</td>
            <td>{{ instance.project }}</td>
            <td>{{ instance.region_az }}</td>
            <td>{{ instance.name }}</td>
            <td>{{ instance.instance_id }}</td>
            <td>{{ instance.state }}</td>
            <td>{{ instance.lifecycle.value }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.owner }}</td>
            <td>{{ instance.create_time }}</td>
            <td>{{ instance.keep }}</td>
            <td>{{ instance.total_cost }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
