    <h3>Scylla Cloud test clusters by user</h3>

    <table id="results_table">
        <tr>
            <th rowspan="2">User</th>
            <th colspan="3" style="text-align: center;">Clusters (Total Nodes)</th>
        </tr>
        <tr>
            <th>Lab</th>
            <th>Staging</th>
            <th>Prod</th>
        </tr>
        {% for user, env_data in results|dictsort %}
        <tr>
            <td>{{ user }}</td>
            {% for env in ['lab', 'staging', 'prod'] %}
            <td>
                {% for provider, stats in env_data.get(env, {})|dictsort %}
                {{ provider }}: {{ stats.cluster_count }} ({{ stats.node_count }})<br>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
