test_duration: 3000

stress_cmd_w: "cassandra-stress write no-warmup cl=QUORUM duration=30m -schema 'replication(factor=3)' -mode cql3 native -rate threads=50 -pop seq=1..30000000"
prepare_write_cmd: "cassandra-stress write no-warmup cl=QUORUM n=30000000 -schema 'replication(factor=3)' -mode cql3 native -rate threads=100 -pop seq=1..30000000"
stress_cmd_r: "cassandra-stress read no-warmup cl=QUORUM duration=30m -schema 'replication(factor=3)' -mode cql3 native -rate threads=50 -pop 'dist=gauss(1..30000000,15000000,1500000)' "
stress_cmd_m: "cassandra-stress mixed no-warmup cl=QUORUM duration=30m -schema 'replication(factor=3)' -mode cql3 native -rate threads=50 -pop 'dist=gauss(1..30000000,15000000,1500000)' "

n_db_nodes: 3
n_loaders: 2
n_monitor_nodes: 1

num_loaders_step: 0
stress_threads_start_num: 50
num_threads_step: 25
stress_step_duration: '15m'
max_deviation: 5 # 5% relative difference
n_stress_process: 1

instance_type_db: 'i2.2xlarge'
instance_type_loader: 'c4.2xlarge'
instance_type_monitor: 't3.small'

user_prefix: 'perf-search'
space_node_threshold: 644245094

backtrace_decoding: false

use_mgmt: false
send_email: true
email_recipients: ['scylla-perf-results@scylladb.com']

store_perf_results: false

# tests are running on aws. The loader uses the shard-aware driver
regions_data:
  us-east-1: # US East (N. Virginia)
    ami_id_loader: 'ami-04ba971b593b243c5' # Loader dedicated AMI v18
    ami_id_monitor: 'ami-02eac2c0129f6376b' # Official CentOS Linux 7 x86_64 HVM EBS ENA 1901_01
  us-west-2: # US West (Oregon)
    ami_id_loader: 'ami-034e122f3d6577a73' # Loader dedicated AMI v18
    ami_id_monitor: 'ami-01ed306a12b7d1c96' # Official CentOS Linux 7 x86_64 HVM EBS ENA 1901_01
  eu-west-1: # Europe (Ireland)
    ami_id_loader: 'ami-0f2aac9a9d7a29979' # Loader dedicated AMI v18
    ami_id_monitor: 'ami-0ff760d16d9497662' # Official CentOS Linux 7 x86_64 HVM EBS ENA 1901_01
  eu-west-2: # Europe (London)
    ami_id_loader: 'ami-099a7a92db81b3500' # Loader dedicated AMI v18
    ami_id_monitor: 'ami-0eab3a90fc693af19' # Official CentOS Linux 7 x86_64 HVM EBS ENA 1901_01
  eu-north-1: # Europe (Stockholm)
    ami_id_loader: 'ami-0f1099eae729b80f1' # Loader dedicated AMI v18
    ami_id_monitor: 'ami-5ee66f20' # Official CentOS Linux 7 x86_64 HVM EBS ENA 1901_01
  eu-central-1: # Europe (Frankfurt)
    ami_id_loader: 'ami-0cc124517d1f5710e' # Loader dedicated AMI v18
    ami_id_monitor: 'ami-04cf43aca3e6f3de3' # Official CentOS Linux 7 x86_64 HVM EBS ENA 1901_01
