instance_provision: 'spot'
spot_max_price: 0.80
instance_provision_fallback_on_demand: true
region_name:
  - eu-west-1
user_credentials_path: '~/.ssh/scylla_test_id_ed25519'
instance_type_loader: 'c6i.xlarge'
instance_type_monitor: 't3.large'
ami_id_loader: 'resolve:ssm:/aws/service/canonical/ubuntu/server/24.04/stable/current/amd64/hvm/ebs-gp3/ami-id'
# manual on updating monitor images see: docs/monitoring-images.md
ami_id_monitor: 'scylladb-monitor-4-9-1-2025-03-05t10-33-15z'

availability_zone: 'a'
root_disk_size_monitor: 50  # GB, remove this field if default disk size should be used
root_disk_size_db: 30  # GB, increase root disk for larger swap (maximum: 16G)
root_disk_size_loader: 20
ami_db_scylla_user: 'scyllaadm'
ami_loader_user: 'ubuntu'
ami_monitor_user: 'ubuntu'
aws_instance_profile_name_db: 'qa-scylla-manager-backup-instance-profile'

ami_id_db_scylla: ''
ami_id_db_oracle: ''

use_preinstalled_scylla: true

backup_bucket_backend: 's3'
backup_bucket_location: 'manager-backup-tests-{region}'

data_volume_disk_num: 0
data_volume_disk_type: 'gp2'
data_volume_disk_size: 500
data_volume_disk_iops: 10000 # depend on type iops could be 100-16000 for io2|io3 and 3000-16000 for gp3

kms_key_rotation_interval: 60

# TODO: this part should be moved to defaults/test_default.yaml when network interfaces configuration is supported for all backends
# NOT SUPPORTED CASES:
#   1. Multi network interfaces with IPv6 type

scylla_network_config:
- address: listen_address  # Address Scylla listens for connections from other nodes. See storage_port and ssl_storage_ports.
  listen_all: false  # Should be True when multiple interfaces - Scylla should be listening on all interfaces
  ip_type: ipv4
  public: false  # Only public IPv6 is supported by AWS
  use_dns: false
  nic: 0
- address: rpc_address  # Address on which Scylla is going to expect Thrift and CQL client connections.
  listen_all: false  # Should be True when multiple interfaces - Scylla should be listening on all interfaces.
  ip_type: ipv4
  public: false  # Only public IPv6 is supported by AWS
  use_dns: false
  nic: 0
- address: broadcast_rpc_address  # Address that is broadcasted to tell the clients to connect to. Related to rpc_address.
  ip_type: ipv4
  public: false  # Should be False when multiple interfaces; Only public IPv6 is supported by AWS
  use_dns: false
  nic: 0
- address: broadcast_address  # Address that is broadcasted to tell other Scylla nodes to connect to. Related to listen_address above.
  ip_type: ipv4
  public: false  # Should be False when multiple interfaces; Only public IPv6 is supported by AWS
  use_dns: false
  nic: 0
- address: test_communication  # Type of IP used to connect from test to DB/monitor instances
  ip_type: ipv4
  public: false
  use_dns: false
  nic: 0  #  If ipv4 and public is True it has to be primary network interface (device index is 0)
# TODO: end

# we are using monitor images, see `ami_id_monitor`
monitor_branch: null
