instance_provision: 'spot'
gce_datacenter: 'us-east1'
gce_network: 'qa-vpc'
gce_project: '' # empty mean default one, can be overwritten to use different one

gce_image_db: '' # so we can use `scylla_version` as needed
gce_image_loader: 'https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts'
gce_image_monitor: 'https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts'
gce_image_username: 'scylla-test'

gce_instance_type_loader: 'e2-standard-2'
gce_root_disk_type_loader: 'pd-standard'
gce_n_local_ssd_disk_loader: 0

gce_instance_type_monitor: 'n2-highmem-8'
gce_root_disk_type_monitor: 'pd-standard'
root_disk_size_monitor: 50
gce_n_local_ssd_disk_monitor: 0

gce_instance_type_db: 'n1-highmem-8'
gce_root_disk_type_db: 'pd-ssd'
root_disk_size_db: 50
gce_n_local_ssd_disk_db: 3

gce_pd_standard_disk_size_db: 0
gce_pd_ssd_disk_size_db: 0
gce_setup_hybrid_raid: false
gce_pd_ssd_disk_size_loader: 0
gce_pd_ssd_disk_size_monitor: 0

user_credentials_path: '~/.ssh/scylla-test'

backup_bucket_location: 'manager-backup-tests-sct-project-1-us-east1'
backup_bucket_backend: 'gcs'

use_preinstalled_scylla: true
