#!groovy

// trick from https://github.com/jenkinsci/workflow-cps-global-lib-plugin/pull/43
def lib = library identifier: 'sct@snapshot', retriever: legacySCM(scm)

longevityPipeline(
{%- for key, value in params.items() %}
{{" "*4}}{{key}}: "{{value}}"{{ "," if loop.revindex != 1 else "" }}
{%- endfor %}
)
