name: Test Hydra on MacOS

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    paths:
      - 'Dockerfile'
      - 'docker/env/build_n_push.sh'
      - 'uv.lock'
      - 'pyproject.toml'

jobs:
<<<<<<< HEAD
    test:
        runs-on: macos-15-intel
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.QA_USER_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.QA_USER_AWS_SECRET_ACCESS_KEY }}
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Setup Docker
          uses: douglascamata/setup-docker-macos-action@v1.0.1
        - name: Run Hydra
          run: bash -x ./docker/env/hydra.sh list-images
||||||| parent of 825e907ce (chore(deps): update douglascamata/setup-docker-macos-action action to v1.0.2)
  test:
    if: contains(github.event.pull_request.labels.*.name, 'test-macos')
    runs-on: macos-15-intel
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.QA_USER_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.QA_USER_AWS_SECRET_ACCESS_KEY }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Setup Docker
      uses: douglascamata/setup-docker-macos-action@v1.0.1
    - name: Run Hydra
      run: bash -x ./docker/env/hydra.sh list-images
=======
  test:
    if: contains(github.event.pull_request.labels.*.name, 'test-macos')
    runs-on: macos-15-intel
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.QA_USER_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.QA_USER_AWS_SECRET_ACCESS_KEY }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Setup Docker
      uses: douglascamata/setup-docker-macos-action@v1.0.2
    - name: Run Hydra
      run: bash -x ./docker/env/hydra.sh list-images
>>>>>>> 825e907ce (chore(deps): update douglascamata/setup-docker-macos-action action to v1.0.2)
