name: Test Hydra on MacOS

on:
  pull_request_target:
    types: [labeled]

jobs:
    test:
<<<<<<< HEAD
        runs-on: macos-13
||||||| parent of e160a4cf0 (fix(workflow): make test-hydra-macos run only with test-macos label)
        runs-on: macos-15-intel
=======
        if: contains(github.event.pull_request.labels.*.name, 'test-macos')
        runs-on: macos-15-intel
>>>>>>> e160a4cf0 (fix(workflow): make test-hydra-macos run only with test-macos label)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.QA_USER_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.QA_USER_AWS_SECRET_ACCESS_KEY }}
        steps:
        - name: Checkout repository
          uses: actions/checkout@v5
        - name: Setup Docker
          uses: douglascamata/setup-docker-macos-action@v1-alpha
        - name: Run Hydra
          run: bash -x ./docker/env/hydra.sh list-images
